/* 여기서부터 커스터마이징 */
* {
  transition: all 0.2s ease-out;
}
section {
  overflow-x: hidden;
}
p {
  font-family: Pretendard, sans-serif;
  word-break: keep-all;
}
body {
  overflow-x: hidden;
  overflow-y: scroll;
}
/* Mobile Screen */
.container {
  max-width: 100%;
  margin: 0 auto;
}
.container {
  width: 100%;
}
@media (min-width: 640px) {
  .container_left {
    max-width: auto;
  }
}
@media (min-width: 768px) {
  .container_left {
    max-width: 768px;
  }
}
@media (min-width: 1024px) {
  .container_left {
    max-width: 1024px;
  }
}
@media (min-width: 1280px) {
  .container_left {
    max-width: 1280px;
  }
}
@media (min-width: 1536px) {
  .container_left {
    max-width: 1536px;
  }
}

@media screen and (max-width: 640px) {
  .container_header {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 1024px) {
  .container_header {
    padding-left: 48px;
    padding-right: 48px;
  }
  .container_display {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1440 !important;
  }
  .container_header {
    max-width: 1440;
    margin: 0 auto;
  }
  .container_display {
    position: absolute;
    bottom: 12.5%;
  }
}

.menubar {
  width: 100vw;
  min-width: 1440;
}

.menubar nav {
  width: calc(100vw - 32px);
  background: rgba(1, 5, 27, 0.8);
}

.wrapper {
  position: relative;
}

:hover {
  transition: all 0.3s ease-out;
}

li {
  float: left;
  list-style: none;
}

.typo-title {
  word-break: keep-all;
}
.nt-video {
  width: 100vw;
  height: 960px;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.res-mw-0 {
  max-width: 640px;
}

.btn-0 {
  transition: all 0.3s ease-out;
}

.btn-0:hover {
  background-color: white;
  color: #003af1;
}
.linear-wipe-0 {
  background: linear-gradient(to left, #063d2d 20%, #00ffb7 40%, #2bffc3 60%, #063d2d 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

.linear-wipe-1 {
  background: linear-gradient(to left, #fff 20%, #00ff81 40%, #ffee00 60%, rgb(255, 255, 255) 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}
@keyframes shine {
  to {
    background-position: 200% center;
  }
}
.linear-wipe-2 {
  background: linear-gradient(to right, #000 20%, #171717 40%, #232323 60%, rgb(0, 0, 0) 80%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}
.linear-wipe-3 {
  background: linear-gradient(to left, rgb(0, 255, 123) 20%, rgb(28, 190, 47) 40%, rgb(0, 255, 123) 60%, rgb(0, 255, 123) 10%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}
.linear-wipe-4 {
  background: linear-gradient(to left, rgb(255, 196, 0) 20%, rgb(255, 234, 0) 40%, rgb(255, 196, 0) 60%, rgb(255, 196, 0) 10%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

.linear-wipe-5 {
  background: linear-gradient(to left, rgb(13, 81, 57) 20%, rgb(0, 255, 195) 40%, rgb(13, 81, 57) 60%, rgb(13, 81, 57) 10%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

.linear-wipe-6 {
  background: linear-gradient(to left, rgb(107, 255, 117) 20%, rgb(0, 255, 153) 40%, rgb(0107, 255, 117) 60%, rgb(107, 255, 117) 10%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

.linear-wipe-7 {
  background: linear-gradient(to left, rgb(0, 166, 255) 20%, rgb(0, 38, 255) 40%, rgb(0, 166, 255) 60%, rgb(0, 166, 255) 10%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

.linear-wipe-8 {
  background: linear-gradient(to left, rgb(70, 30, 248) 20%, rgb(123, 176, 255) 40%, rgb(70, 30, 248) 60%, rgb(70, 30, 248) 10%);
  background-size: 200% auto;
  color: #000;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 2s linear infinite;
}

mark {
  background: linear-gradient(to top, #ffff00 30%, transparent 30%);
}

.hideMenuNav {
  display: none;
}

.showMenuNav {
  overflow-y: hidden;
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  bottom: 0;
  background: black;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.dimmed {
  position: absolute;
  top: 0;

  width: 100vw;
  height: 100vh;
  background: rgba(3, 3, 3, 0.3);
  z-index: -1;
}

.card01 {
  background: linear-gradient(315deg, rgb(0, 0, 0) 0%, rgb(40, 40, 40) 100%);
  /* background: linear-gradient(315deg, rgb(255, 82, 220) 0%, rgb(255, 153, 0) 100%); */
}

.card02 {
  background: linear-gradient(141deg, #0099ff 0%, rgb(0, 85, 255) 100%);
}

.card03 {
  background: linear-gradient(141deg, #0099ff 0%, rgb(0, 85, 255) 100%);
}

.card04 {
  background: linear-gradient(315deg, rgb(0, 0, 0) 0%, rgb(40, 40, 40) 100%);
  /* background: linear-gradient(304deg, rgb(153, 0, 255) 0%, rgb(102, 0, 255) 100%); */
}

.apple {
  background-image: url('../public/img/appstore.png');
  background-size: cover;
}

.google {
  background-image: url('../public/img/googleplay.png');
  background-size: cover;
}

.dimmedCard {
  background: rgb(8, 85, 255);
  background: linear-gradient(0deg, rgba(8, 86, 255, 0.815) 0%, rgba(0, 0, 0, 0) 100%);
}

.sec08Dimmed {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 13%, rgba(255, 255, 255, 0.850577731092437) 40%, rgba(255, 255, 255, 0) 100%);
}

.react-player {
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover !important;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.gradient_01 {
  background: rgb(0, 1, 9);
  background: linear-gradient(45deg, rgba(0, 1, 9, 1) 0%, rgba(5, 4, 29, 1) 100%);
}

.dimmed02 {
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 0, 0, 0) 46%, rgba(0, 0, 0, 0.7) 80%, rgba(0, 0, 0, 1) 100%);
}

.dimmed03 {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.7021183473389356) 20%,
    rgba(0, 0, 0, 0) 50%,
    rgba(0, 0, 0, 0.6965161064425771) 80%,
    rgba(0, 0, 0, 1) 100%
  );
}

.bg-gtw {
  background: rgb(247, 248, 251);
  background: linear-gradient(180deg, rgba(247, 248, 251, 1) 0%, rgba(0, 0, 0, 0) 100%);
}

.bg-gtw-r {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(247, 248, 251, 1) 100%);
}
